.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.with-border {
    box-sizing: border-box;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
  }