<html>
    <head>
        <link rel='stylesheet' href='/reset.css' />
        <link rel='stylesheet' href='index.css' />
    </head>
    <body>  
        <div class='left-float-element'>Float</div>
        <div class='right-float-element'>Float</div>         
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis erat non mauris volutpat, quis auctor justo pellentesque. Nulla lectus libero, tristique vitae nibh non, lobortis placerat mi. Proin arcu est, commodo id mauris vel, sodales vehicula odio. Curabitur consequat lorem et ipsum sodales, sit amet tristique nunc vulputate. Donec vel facilisis odio. In hac habitasse platea dictumst. Sed commodo ipsum sit amet velit pellentesque hendrerit. In ut orci quam. Nulla condimentum ante eu leo dictum, sit amet egestas ligula facilisis.

            Morbi sagittis eu augue vel ornare. Duis massa odio, convallis non luctus in, varius quis nunc. Mauris ut dolor congue, bibendum purus non, aliquet tortor. Nunc congue erat ut rutrum sollicitudin. Aliquam maximus ante enim, id cursus orci vestibulum sed. Sed ac mauris a risus euismod condimentum eget eu est. Aliquam a suscipit lacus. Curabitur aliquet ut diam sed fringilla. Ut velit purus, suscipit vel purus vel, iaculis iaculis lorem. Nulla ac mi nec erat tempor fermentum. Phasellus convallis vel arcu a placerat. Aenean feugiat ex vitae mattis varius. Aenean consequat laoreet justo, nec mattis lacus scelerisque sed. Nullam ipsum ante, commodo in scelerisque quis, luctus id diam. In vulputate nunc non enim ultricies bibendum et eget tellus. Integer.</p>  </body>
</html>