.left-float-element {
    float: left;
    width: 125px;
    height: 125px;
}

.right-float-element {
    float: right;
    width: 125px;
    height: 125px;
}

.with-border {
    box-sizing: border-box;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
  }