.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .with-border {
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
  }