<html>
    <head>
        <link rel='stylesheet' href='index.css' />
    </head>
    <body>
        <div class='flex-wrapper'>
            <div class='column with-border'>
                <div class='short-block with-border'>short</div>
                <div class='medium-block with-border'>medium</div>
                <div class='long-block with-border'>long</div>
            </div>
            <div class='column with-border'>
                <div class='long-block with-border'>long</div>
                <div class='medium-block with-border'>medium</div>
                <div class='short-block with-border'>short</div>
            </div>
        </div>
    </body>
</html>